html{
scroll-behavior:smooth;
}

body{
background:#FFF8F0;
color:#2E2E2E;
}

h1,h2,h3{
color:#C38D9E;
}

@keyframes fadeIn{
from{
opacity:0;
transform:translateY(20px);
}
to{
opacity:1;
transform:translateY(0);
}
}

section{
padding:60px 15%;
animation:fadeIn 1s ease;
}

.exp-img{
display:block;
margin:40px auto;
width:300px;
border-radius:12px;
}
